@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Luxurious+Roman&family=Montserrat:wght@600;700;800&display=swap&family=The+Nautigal:wght@700&display=swap');

/*/--------------------------* THEAM Colours *--------------------------/*/
:root {
  --bg: rgb(39 38 43);
  --font: #ffc800;
  --white: #ffffff;
  --parrot: #c3ff00;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

::-webkit-scrollbar {
  height: 6px;
  width: 8px;
  margin: block;
}

::-webkit-scrollbar-track {
  border: 3px solid var(--bg);
  background: rgb(215, 215, 215);
  border-radius: 25px;
}

::-webkit-scrollbar-thumb {
  background: var(--parrot);
  border-radius: 25px;
}

/*/--------------------------* Body Of Portfolio *--------------------------/*/
:root {
  background-color: var(--bg);
  height: 100%;
}

.flex {
  display: flex;
  align-items: center;
}

.cursor {
  cursor: default;
}

#fonts {
  font-size: 1rem;
  color: var(--white);
  font-family: 'Montserrat';
  font-weight: 600;
  text-transform: capitalize;
  padding: 0 20px;
  letter-spacing: 0.0625em;
}

#fonts:hover {
  color: var(--parrot);
  transform: translateY(3px);
}

#font {
  font-size: 1.6rem;
  color: var(--parrot);
  font-family: 'Montserrat';
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.0625em;
}

.links {
  text-decoration: none;
}

#Title {
  font-size: 2.3rem;
  text-transform: capitalize;
  font-family: 'Kaushan Script', cursive;
  color: #fff;
  padding: 0px 25px;
  cursor: default;
  width: fit-content;
  margin-bottom: 15px;
  letter-spacing: 2px;
  filter: drop-shadow(12px 12px 9px rgba(0, 0, 0, 0.5));
}

@media(max-width:768px) {
  .Link_Icon {
    font-size: 1rem;
  }

  #Title {
    font-size: 1.9rem;
  }
}