#contact {
    height: 100%;
    width: 100%;
    padding-top: 50px;
}

#ContactData {
    display: flex;
    width: 100%;
    padding: 20px;
    color: var(--white);
    font-family: 'Montserrat';
}

#ContactData #Contact_Info {
    max-width: 100%;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#ContactData #Contact_Footer {
    width: 100%;
    height: 100%;
}

.contactDetails {
    letter-spacing: 0.5px;
    font-weight: 600;
}

#Contact_footerBody {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

#Contact_footerOut {
    width: 20%;
    height: 100%;
}

#Contact_footerOut ul {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    padding: 0px;
}

#Contact_footerOut ul li {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: auto;
    padding: 20px 0px;
}

#Contact_footerOut ul li h6 {
    margin: 0;
    display: visible;
    text-transform: capitalize;
    font-family: 'Luxurious Roman', cursive;
    color: var(--white);
}

#Contact_icons {
    font-size: 38px;
    color: var(--parrot);
    filter: drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.3));
    transition: all 0.2s ease-in-out;
}

@media(max-width:768px) {
    #Contact_footerBody {
        flex-direction: column;
    }

    #ContactData #Contact_Info {
        padding: 10px;
        width: 100%;
    }

    #Contact_footerOut ul {
        flex-direction: row;
        justify-content: space-between;
    }

    #ContactData #Contact_Footer {
        margin: auto;
    }

    #Contact_footerOut {
        width: 100%;
        margin-top: 40px;
        display: inline-table;
    }

    #Contact_footerOut ul li h6 {
        opacity: 1;
    }
}

@media(min-width:768px) {
    #Contact_footerOut ul li h6 {
        opacity: 0;
    }

    #Contact_footerOut ul li:hover h6 {
        opacity: 1;
    }

    .contactDetails:hover span {
        filter: drop-shadow(0px 0px 7px rgb(195, 255, 0));
    }

    #Contact_icons {
        animation: Contact_icons 0.9s linear infinite alternate;
    }

    @keyframes Contact_icons {
        0% {
            transform: rotate(30deg);
        }

        100% {
            transform: rotate(-30deg);
        }
    }

    .hover:hover #Contact_icons {
        font-size: 50px;
        margin-top: -12px;
        animation: none;
    }
}

.contactTilt {
    background: rgb(0, 0, 0, 0);
    width: 100%;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 97%;
    min-width: 97%;
    max-width: 97%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 100%;
    margin: 10px;
}

.buttonSubmit {
    background-color: var(--parrot);
    width: 30%;
    color: var(--bg);
    padding: 12px 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0);
    border: 2px solid var(--parrot);
    border-radius: 4px;
    cursor: pointer;
}

.buttonWait {
    width: 30%;
    color: var(--bg);
    text-align: center;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.buttonSubmit:hover {
    background-color: var(--bg);
    border: 2px solid var(--parrot);
    color: var(--parrot);
}

.buttonSubmitOut {
    padding: 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (max-width:768px) {

    .buttonSubmit {
        width: 90%;
    }

    #desktop {
        display: none;
        opacity: 0;
    }
}

@media (min-width: 768px) {
    #mobile {
        display: none;
        opacity: 0;
    }

    .form {
        padding: 0px 50px;
    }
}