#appBar {
    position: fixed;
    background: rgba(255, 255, 255, 0);
    box-shadow: none;
    padding: 0.4rem 0;
}

#appBar.navbar-shrink {
    padding: 0.1rem 0;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
}

#Nav_links {
    color: #747474;
    font-size: 1rem;
    font-family: 'Montserrat';
    font-weight: 600;
    text-transform: capitalize;
    padding: 0 20px;
    letter-spacing: 0.0625em;
}

.Nav_Item:hover .links {
    color: var(--parrot);
    text-decoration: underline;
}

.Nav_Item:hover .links #Nav_links {
    color: #ffffff;
}

.XLnav:hover {
    color: var(--parrot);
}

#marker {
    position: absolute;
    height: 4px;
    width: 100%;
    background: linear-gradient(0deg, rgba(195, 255, 0, 1) 0%, rgba(195, 255, 0, 1) 45%, rgba(255, 255, 255, 1) 100%);
    bottom: -8px;
    transition: 0.5s;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgb(171, 255, 37)
}

#menu-appbar {
    margin-top: 45px;
}

#menu-appbar ul {
    background: var(--bg);
}

@media(min-width:900px) {
    .menu_list_lg {
        display: flex;
    }
    .menu_list_sm{
        display: none;
    }
}

@media(max-width:900px) {
    .menu_list_lg {
        display: none;
    }
    .menu_list_sm{
        display: flex;
    }
}

@media(max-width:768px) {
    .Nav_Item .links #Nav_links {
        color: #ffffff;
    }
}