#Skills {
    height: 100%;
    width: 100%;
    padding-top: 50px;
}

#skill-container {
    min-height: 100vh;
    height: 100%;
    display: flex;
    justify-content: center;
}

#inner-skill-container {
    min-height: 80vh;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

#contSkills {
    width: 25%;
    min-height: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 768px) {
    #skill-container {
        min-height: 100vh;
        height: 100%;
        display: flex;
        justify-content: center;
        padding: 25px;
    }

    #skillIcons {
        box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.5);
    }

    #contSkills {
        width: 30%;
    }
}

@media (max-width: 500px) {

    #contSkills {
        width: 50%;
    }
}

#skillName {
    margin: 0;
    color: rgb(255, 255, 255);
    font-family: 'Montserrat';
    filter: drop-shadow(2px 2px 10px rgb(0, 0, 0));
    text-decoration: none;
}

@media (min-width: 768px) {
    #skillIcons {
        box-shadow: 22px 22px 55px rgba(0, 0, 0, 0.5);
    }
}

#skillIcons {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 10px;
    border-radius: 10px;
    filter: drop-shadow(2px 2px 6px rgb(0, 0, 0));
}